<head>
  <meta charset="UTF-8">
  <title>Header Sample</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1 class="title">カジノ</h1>
        <nav class="nav">
            <ul class="menu-group">
                <li class="menu-item"><%= link_to "トップページ", "/" %></li>
                <li class="menu-item"><%= link_to "カレンダー", "/" %></li>
                <li class="menu-item"><%= link_to "sign in/sign up", "/top/login_page" %></li>
            </ul>
        </nav>
    </header>
    <p>ランキング表示</p>
</body>
</thml>
